*, *::before, *::after {
    box-sizing: border-box;
}

  * {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

body {
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --primaire: #9356dc;
    --secondaire: #FF79DA;
    --tertaire: #99E2D0;
    --Parisbelleville: #EAEAEA;
    --reservez: #F6F6F6;
    --hover: #F5EDFF;
    --backgroundnouveau: #99E2D0;
    --nouveau: #008766;
    --footer: #353535;
}

.logo-div {
    position: relative;
}

.logo-div h1 {
    font-family: 'Shrikhand', sans-serif;
    text-align: center;
    margin: 20px 0 5px 0;
}

.logo-div i {
    font-size: 24px;
    padding-left: 20px;
    position: absolute;
    top: 20%;
}

.main-menu1 {
    background: var(--reservez);
}

.background-article {
    background: url(./img/dish3.jpg) center center / cover ;
    height: 250px;

}

.article-menu1 {
    background-color: #fff;
    border-radius: 60px 60px 0 0;
    margin-top: -30px;
    padding: 0 15px;
}

@keyframes slidedown {
    from {
        transform: translateY(300px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.entree {
    animation: slidedown 1s ease-out;
}

.plate {
    animation: slidedown 1.5s ease-out;
}

.dessert {
    animation: slidedown 2s ease-out;
}

.title-of-page {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-family: 'Shrikhand', sans-serif;
    padding: 35px 0 15px 0;
    font-size: 22px;
}

.heart-anim {
    font-size: 24px;
    position: relative;
}

.coeurplein {
    position: absolute;
    right: 25px;
    top: -18px;
}

.coeurvide {
    position: absolute;
    right: 25px;
    top: -18px;
}
.coeurplein
{
    color:transparent;
    background: linear-gradient(to right bottom, #FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    transform: scale(0);
    transition-duration: 1.5s;
}
.heart-anim:hover  .coeurplein
{
transform: scale(1);
}
.heart-anim:hover .coeurvide
{
transform: scale(0);
transition-delay: 2s;
}


.title-article {
    text-transform: uppercase;
    padding: 20px 0 25px 0;
    position: relative;
}

.title-article::after {
    content: '';
    border: 2px solid var(--backgroundnouveau);
    display: block;
    width: 40px;
}

.global-entree {
    background: white;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px grey;
    overflow: hidden;
}

.name-entree {
    display: flex;
    justify-content: space-between;
}
.name-of-entree {
    padding: 15px 5px 15px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.name-of-entree > h3, p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.global-entree:hover .check-p {
    transform: translateX(0);
    transition: 0.5s;
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.global-entree:hover .icone-check i {
    animation: rotate 0.5s 0.1s forwards;
}


.strong {
    padding: 0 5px 15px 8px;
    font-weight: 900;
}

.icone-check {
    display: flex;
    align-items: flex-end;
} 

.check-p{
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--backgroundnouveau);
    border-radius: 0 10px 10px 0;
    font-size: 20px;
    width: 0;
    transform: translateX(100%);
}


@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}



.icone-check .check-rotate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}



.footer-nav {
    text-align: center;
}

.button-presentation {
    margin: 35px 0 70px 0;
    padding: 10px 30px;
    border-radius: 250px;
    border: none;
    background: linear-gradient(to bottom right, var(--secondaire), var(--primaire));
    color: white;
    transition: 0.8s;
    box-shadow: 1px 3px 3px lightgrey;
}
.button-presentation:hover {
    filter: brightness(1.1);
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.8);
}

footer {
    position: relative;
    z-index: 1;
}

.footer-flex {
    padding: 0 25px;
    background: var(--footer);
    color: #fff;
    padding-bottom: 30px;
}

.footer-title {
    letter-spacing: 0.5px;
    font-family: "Shrikhand", sans-serif;
    padding: 25px 0 15px;
}

.footer-div {
    display: flex;
    align-items: baseline;
    padding-bottom: 5px;
}
.footer-div i {
    width: 25px;
    font-size: 12px;
}



  /*# sourceMappingURL=style.css.map */
