*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
h1 {
    font-size: 26px;
}
#root, #__next {
    isolation: isolate;
}
:root {
    --primaire: #9356DC;
    --secondaire: #FF79DA;
    --tertiaire: #99E2D0;
    --ParisBelleVille: #eaeaea;
    --Réserver: #f6f6f6;
    --hover: #f5edff;
    --background-vert: #99e2d0;
    --nouveau: #008766;
}

.logo-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.first-presentation {
    margin-top: 20px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: var(--ParisBelleVille);
    align-items: center;
    box-shadow: inset 0 3px 2px 0 #afafaf;;
}

.first-presentation p {
    padding: 0 25px 0 20px;
    font-weight: 500;
    color: rgb(80, 76, 76);
    font-size: 20px;
}

.first-presentation i {
    font-size: 20px;
    color: rgb(80, 76, 76);
}

.header-presentation {
    text-align: center;
    background: var(--Réserver);
    padding: 0 25px;
}

.header-presentation h1 {
    padding-top: 35px;
}

.header-presentation p {
    font-size: 20px;
    font-weight: 300;
    padding-top: 10px;
}

.button-presentation {
    margin: 35px 0 70px 0;
    padding: 10px 15px;
    border-radius: 250px;
    border: none;
    background: linear-gradient(to bottom right, var(--secondaire), var(--primaire));
    color: white;
}

.functioning {
    padding: 0 25px;
    margin-bottom: 50px;
}

#functioning-title {
    padding: 30px 0 15px 0;
}

.steps {
    list-style-type: none;
    padding-left: 0;
    counter-reset: liste;
}

.steps li {
    border-radius: 250px;
    border-radius: 150px;
    margin-bottom: 15px;
    padding: 20px;
    box-shadow: 0 3px 2px 0 #afafaf;
    background: var(--Réserver);
    font-weight: 700;
    font-size: 18px;
    transition: .3s;
}

.steps li:hover {
    background: var(--hover);
    color: var(--primaire);
}


.steps li::before {
    counter-increment: liste;
    content: counter(liste);
    color: #fff;
    display: inline-block;
    width: 25px;
    height: auto;
    margin-left: -28px;
    background: var(--primaire);
    border-radius: 150px;
    padding: 0 8px;
}

.steps i {
    padding: 0 15px;
    font-size: 18px;
}

.restaurant {
    padding: 0 25px;
    background: var(--Réserver);
}

#restaurant-title {
    padding: 30px 0 15px 0;
}

.dish {
    margin-bottom: 45px;
    background: lightsalmon;
    border-radius: 15px;
    height: 350px;
}

.dish-view {
    height: 75%;
}


.dish-img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.dish-name {
    padding: 10px 0 0 15px;
    height: 35%;
}