*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}
:root {
    --primaire: #9356DC;
    --secondaire: #FF79DA;
    --tertiaire: #99E2D0;
    --ParisBelleVille: #eaeaea;
    --Réserver: #f6f6f6;
    --hover: #f5edff;
    --background-vert: #99e2d0;
    --nouveau: #008766;
}

.logo-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}